.works{
    background-color: rgb(20, 50, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    .slider{
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;
     
        .container{
            width: 100vw;
            align-items: center;
            justify-content: center;

            .item{
                width: 700px;
                height: 100%;
                background-color: #fff;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                .left{
                    flex: 4;
                    background-color: purple;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .leftContainer{
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        
                        .imgContainer{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: rgb(161, 94, 69);
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img{
                                max-width: 25px;
                            }
                        }
                        h2{
                            font-size: 20px;

                        }
                        p{
                            font-size: 13px;
                        }
                        span{
                            font-size: 12px;
                            font-weight: bold;
                            text-decoration:underline ;
                        }
                    }
                }
                .right{
                    flex: 8;
                    background-color: yellow;
                    height: 100%;
                }
            }
        }
    }
}